* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.pqr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.abcd p {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

.abc img {
  width: 50%;
  margin: auto;
  float: left;
}

.xya {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.xyb {
  border: 2px solid #fff;
  width: 100%;
  min-height: 100vh;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

style {
  white-space: pre-wrap;
  display: block;
  background: rgba(4, 9, 30, 0.7);
  width: 100%;
}

body {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
}

.xyb,
.xxyz {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.xxyz {
  flex-direction: column !important;
}

.xyz {
  border-radius: 50%;
  width: 50%;
  height: 200px;
  background: #fff;
  margin: 10px;
  padding: 5px;
}

.xyz2 {
  width: 50%;
  height: 200px;
  background: #fff;
  margin: 10px;
  padding: 5px;
}
